[worldserver]
########################################

#属性增强重掷器
########################################

#StatBoostReroll.Enable
#描述: 启用/禁用物品重掷机制。
#默认值: 0 - 禁用
#1 - 启用
StatBoostReroll.Enable = 1

#StatBoostReroll.VisualId
#描述: 当物品成功重掷时，显示的法术ID。
#默认值: 62015 - 测试视觉效果
StatBoostReroll.VisualId = 62015

#StatBoostReroll.AllowOwnedItemsOnly
#描述: 启用/禁用仅限自己拥有的物品的重掷。
#注意: 这避免了玩家能够重掷其他玩家的物品。
#0 - 禁用
#默认值: 1 - 启用
StatBoostReroll.AllowOwnedItemsOnly = 1